* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    cursor: url(/assets/icons/etwercrsr.png), auto;
    background-color: rgb(209, 209, 209);
}

.input {
    margin-top: 100px;
    text-align: center;
}

input[type="text"] {
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

input[type="text"] {
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.display {
    text-align: center;
}

.cartoonmap {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    height: 100%;
    width: 100%;
}

.map-element:hover {
    filter: url(#shadow);
}

.map {
    /* position: absolute; */
    left: 0;
    width: 100%;
}

.restaurant {
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}

.sectitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restsstory {
    max-width: 650px;
    margin: 40px;
    text-align: center;
}

.works {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.rests {
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 7rem;
    text-align: center;
}

.restsstory {}

.work {
    height: 60rem;
    position: relative;
    perspective: 800px;
}

.work .fore,
.work .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: 0.6s;
}

.work .fore {
    z-index: 2;
}

.work .back {
    padding: 4rem;
    box-sizing: border-box;
    transform: rotateY(-180deg);
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.work:hover .fore {
    transform: rotateY(180deg);
}

.work:hover .back {
    transform: rotateY(0deg);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .title {
    margin-top: 60px;
    font-size: 5rem;
    text-align: center;
}

.work .description {
    line-height: 1.5;
    text-align: center;
}

.backcardbtn {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brbtn {
    text-decoration: none;
    margin: 40px;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 30px;
    background: #1d5775;
    border: 1px solid azure;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.brbtn:hover {
    transform: scale(1.05);
}

.rbtn {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rbtn p {
    max-width: 650px;
    margin-bottom: 40px;
    text-align: center;
}

.restsbtn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 30px;
    background: #1d5775;
    border: 1px solid azure;
    outline: none;
    cursor: pointer;
    max-width: 200px;
    transition: .2s;
}

.restsbtn:hover {
    transform: scale(1.05);
}

footer {
    background-color: black;
    color: whitesmoke;
}